@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand");

/* * {
  border: 1px solid red;
} */

body {
  box-sizing: border-box;
  text-align: center;
  background-color: lightblue;
  font-family: "Quicksand", sans-serif;
}

.title {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 5px;
  color: white;
  padding: 5px 20px;
  font-size: 36px;
  margin: 50px 0;
}
